<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="logback/json-console.xml"/>

    <logger name="az.company.cardstream" level="DEBUG"/>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="logback/console.xml"/>
        <root>
            <level value="INFO"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root>
            <level value="INFO"/>
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
